<html>

<head>
    <title>Speech Emotion Recogonition</title>

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
    </style>
    <script>


    </script>
</head>

<body style="background-color: #091227;">
    <nav style="background-color: #091227;" class="flex border-b-blue-200 border-b-2 justify-between">
        <div class="flex p-2">
            <img src="/static/images.png" class="inline-flex" height="10" width="50" />
            <p style="font-family: 'Montserrat', sans-serif;"
                class="antialiased font-semibold text-3xl pt-1 text-blue-300">WAVE</p>
        </div>
        <div class="w-1/6">
            <div style="font-family: 'Montserrat', sans-serif;"
                class="pt-2 flex font-serif antialiased font-medium text-md">
                <div class="pt-2 tracking-wider">
                    <a href="/" class="text-gray-300 hover:text-3xl mx-2">Home</a>
                    <a href="https://en.wikipedia.org/wiki/Alexithymia"
                        class="text-gray-300 hover:text-3xl mx-2">Alexithymia</a>
                </div>
                <a href="/upload"
                    class="text-gray-300 font-semibold py-2 pl-2 px-2 bg-gradient-to-r from-blue-400 to-green-400 hover:from-yellow-400 hover:to-pink-400 rounded-lg">
                    Upload File
                </a>
            </div>
        </div>
    </nav>

    <div class="flex p-40">
        <div class="w-2/3 p-8">
            <p class="text-blue-300 text-xs antialiased ">Speech & Emotion</p>
            <h1 id="demo" style="font-family: 'Montserrat', sans-serif;"
                class="text-6xl text-blue-300 w-3/4 antialiased font-serif font-semibold">
                {{final_pred}}
            </h1>
        </div>
        <div class="-mt-20">
            <form action="http://localhost:5000/uploader" method="POST" enctype="multipart/form-data">

                <div
                    style="background-image: url('/static/waves.png'); width: 350px; height: 350px; background-repeat:no-repeat; background-size: cover;">
                    <input type="file" name="file"
                        style="opacity:0;-moz-opacity:0 ;filter:alpha(opacity: 0); width: 350px; height: 350px;" />
                    <input type="submit" value="Predict"
                        class="w-full text-xl text-gray-300 font-semibold py-2 pl-2 px-2 bg-gradient-to-r from-blue-400 to-green-400 hover:from-yellow-400 hover:to-pink-400 rounded-lg" />
                </div>
            </form>
        </div>


        <!-- <form action="/loading" method="post" style="margin: auto; width: 50%; padding: 10px;">
            <button
            style="font-weight: 600; display: inline-block; margin: auto; width: 100%; padding: 7px; font-size: 20px; color: brown; background-color: goldenrod; border-radius: 10px; border: 10px;"
            onclick="change()" type="submit" onmouseover="hover()" onmouseleave="hoveroff()"
            className="forwardButton" value="Record" id="toggle">Record</button>
        </form> -->

    </div>
    <div class="" style="margin-top: -5.7%;">
        <svg viewBox="0 0 1440 320">
            <path fill="#0E7490" fill-opacity="1"
                d="M0,224L30,240C60,256,120,288,180,261.3C240,235,300,149,360,101.3C420,53,480,43,540,74.7C600,107,660,181,720,197.3C780,213,840,171,900,176C960,181,1020,235,1080,218.7C1140,203,1200,117,1260,80C1320,43,1380,53,1410,58.7L1440,64L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z">
            </path>
        </svg>
    </div>
</body>
<script>
    {
        function record() {
            var x = document.getElementById("img")
            x.setAttribute("class", "animate-pulse")
        }
        function change() {
            var change = document.getElementById("toggle");
            var str = document.getElementById("str");
            if (change.innerHTML == "Record") {
                change.innerHTML = "Recording...";
                str.innerHTML = "Recording";
            }
            else {
                change.innerHTML = "Record";
                str.innerHTML = "Record";
            }
        }

        function hover() {
            var x = document.getElementsByClassName("forwardButton");
            x.style.backgroundColor = 'green'
        }

        function hoveroff() {
            var x = document.getElementsByClassName("forwardButton");
            x.style.backgroundColor = 'goldenrod'
        }
    }
</script>

</html>